html,
* {
    margin: 0%;
    padding: 0%;
}

body {
    margin: 0%;
    padding: 0%;
    border-color: white;
    display: flex;
    justify-content: center;
    height: 100vh;
    /* margin: 19px; */
    /* background-color: black; */
    /* width: 100vw;
    height: 100vh; */
}



.my-canvas {
    background-color: black;
}

/* .new-canvas{
    background-color: rgba(0, 0, 0, 0.3);
} */