

body
{
    border-color: white;
    display: flex;
    justify-content: center;
    margin: 19px;
    /* background-color: black; */
    /* width: 100vw;
    height: 100vh; */
}



.my-canvas{
    background-color: black;
}

/* .new-canvas{
    background-color: rgba(0, 0, 0, 0.3);
} */